.list-item {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    width: 182px;
    height: 182px;
    text-align: center;
    position: relative
}
.list-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
}

/* .list-item:last-child {
    background-color: orangered;
} */
/* .list-item:first-child {
    background-color: pink;
} */
/* .list-item:nth-child(2) {
    background-color: orange;
  } */


  /* to samo w dwóch zapisach parzyste  */
  /* .list-item:nth-child(2n) {
    background-color: orange;
  } */
  
  /* Podobnie używając aliasu */
  /* .list-item:nth-child(even) {
    background-color: orange;
  } */

  /* nie parzyste */
  /* .list-item:nth-child(2n + 1) {
    background-color: red;
  } */

/*Od N-tego elementu*/
.list-item:nth-child(n + 2) {
    background-color: greenyellow;
  }

  /* Pseudoklasa:nth-last-child(an+b) */

  .list-item:nth-last-child(3) {
    background-color: gold;
  }