h2, h1 {
    text-align: center;
    font-weight: 900;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 40px;

}

.container {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skalowanie .box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.skalowanie .box::before {
    display: inline-block;
    font-size: 20px;
}

.skalowanie .box:nth-child(1) {
    /*   transform: scale(1.25); */
    background-color: orange;

    animation: animate125 3000ms infinite 1000ms;
}

.skalowanie .box:nth-child(1)::before {
    content: "scale(1.25)";
}

.box:nth-child(2) {
    /*  Оригинальный размер, значение по умолчанию  */
    /*   transform: scale(1); */
    background-color: #03a9f4;
}

.box:nth-child(2)::before {
    content: "scale(1)";
}

.box:nth-child(3) {
    /*   transform: scale(0.75); */
    background-color: palevioletred;

    animation: animate75 3000ms infinite 1000ms;
}

.box:nth-child(3)::before {
    content: "scale(0.75)";
}

@keyframes animate125 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animate75 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}


/* Obrót  */
.obrot .container {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.obrot .box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.obrot .box::before {
    display: inline-block;
    font-size: 20px;
}

.obrot .box:nth-child(1) {
    /*   transform: rotate(30deg); */
    background-color: orange;

    animation: animate30 3000ms infinite 1000ms;
}

.obrot .box:nth-child(1)::before {
    content: "rotate(30deg)";
}

.obrot .box:nth-child(2) {
    /*   transform: rotate(115deg); */
    background-color: #03a9f4;

    animation: animate115 3000ms infinite 1000ms;
}

.obrot .box:nth-child(2)::before {
    content: "rotate(115deg)";
}

.obrot .box:nth-child(3) {
    /*   transform: rotate(-45deg); */
    background-color: palevioletred;

    animation: animate45 3000ms infinite 1000ms;
}

.obrot .box:nth-child(3)::before {
    content: "rotate(-45deg)";
}

@keyframes animate30 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes animate115 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(115deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes animate45 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


/* przesuniencie */
.przesuniencie .container {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.przesuniencie .box {
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.przesuniencie .box::before {
    font-size: 20px;
}

.przesuniencie .box:nth-child(1) {
    /*   transform: translateX(50px); */

    animation: animateX50 3000ms infinite 1000ms;
    background-color: orange;
}

.przesuniencie .box:nth-child(1)::before {
    content: "translateX(50px)";
}

.przesuniencie .box:nth-child(2) {
    /*   transform: translateY(110px); */

    animation: animateY110 3000ms infinite 1000ms;
    background-color: #03a9f4;
}

.przesuniencie .box:nth-child(2)::before {
    content: "translateY(110px)";
}

.przesuniencie .box:nth-child(3) {
    /*   transform: translate(-50px, -100px); */

    animation: animateX50Y100 3000ms infinite 1000ms;
    background-color: palevioletred;
}

.przesuniencie .box:nth-child(3)::before {
    content: "translate(-50px, -100px)";
}

@keyframes animateX50 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animateY110 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(110px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes animateX50Y100 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-50px, -100px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Centrowanie  */

.centrowanie .parent {
    position: relative;
    max-width: 500px;
    height: 300px;
    border: 10px solid #303f9f;
    border-radius: 10px;
    background-color: #3f51b5;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.centrowanie .box {
    width: 100px;
    height: 100px;
    border: 10px solid #ffa000;
    border-radius: 10px;
    background-color: #ffc107;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*zniekształcanie */
.znieksztalcanie .box {
    width: 220px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box::before {
    display: inline-block;
    font-size: 20px;
}

.znieksztalcanie .box:nth-child(1) {
    /*   transform: skewX(30deg); */

    animation: animateX30 3000ms infinite 1000ms;
    background-color: orange;
}

.znieksztalcanie .box:nth-child(1)::before {
    content: "skewX(30deg)";
}

.znieksztalcanie .box:nth-child(2) {
    /*   transform: skewY(30deg); */

    animation: animateY30 3000ms infinite 1000ms;
    background-color: #03a9f4;
}

.znieksztalcanie .box:nth-child(2)::before {
    /* content: "skewY(30deg)"; */
}

.znieksztalcanie .box:nth-child(3) {
    /*   transform: skew(-30deg, 30deg); */

    animation: animateX30Y30 3000ms infinite 1000ms;
    background-color: palevioletred;
}

.znieksztalcanie .box:nth-child(3)::before {
    content: "skew(-30deg, 30deg)";
}

@keyframes animateX30 {
    0% {
        transform: skewX(0deg);
    }

    50% {
        transform: skewX(30deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

@keyframes animateY30 {
    0% {
        transform: skewX(0deg);
    }

    50% {
        transform: skewY(30deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

@keyframes animateX30Y30 {
    0% {
        transform: skew(0deg);
    }

    50% {
        transform: skew(30deg, 30deg);
    }

    100% {
        transform: skew(0deg);
    }
}

/* punkt poczatkowy */
:root {
    --dot-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
}

.poczatek .container {
    min-height: 40vh;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.poczatek .box {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid tomato;
    border-radius: 4px;
    font-size: 17px;
}

.poczatek .box::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);


    animation: rotateWithOrigin 3000ms linear 1000ms infinite;
}

.poczatek .box:nth-child(1)::before {
    transform-origin: top left;
}

.poczatek .box:nth-child(2)::before {
    transform-origin: top center;
}

.poczatek .box:nth-child(3)::before {
    transform-origin: top right;
}

.poczatek .box:nth-child(4)::before {
    transform-origin: center left;
}

.poczatek .box:nth-child(5)::before {
    transform-origin: center center;
}

.poczatek .box:nth-child(6)::before {
    transform-origin: center right;
}

.poczatek .box:nth-child(7)::before {
    transform-origin: bottom left;
}

.poczatek .box:nth-child(8)::before {
    transform-origin: bottom center;
}

.poczatek .box:nth-child(9)::before {
    transform-origin: bottom right;
}

.poczatek .box::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: blue;
    border-radius: 50%;
}

.box:nth-child(1)::after {
    top: calc(var(--dot-size) / -2); /* dynamiczne licznienie wartości */
    left: calc(var(--dot-size) / -2);
}

.box:nth-child(2)::after {
    top: calc(var(--dot-size) / -2);
    left: center;
}

.box:nth-child(3)::after {
    top: calc(var(--dot-size) / -2);
    right: calc(var(--dot-size) / -2);
}

.box:nth-child(4)::after {
    top: center;
    left: calc(var(--dot-size) / -2);
}

.box:nth-child(5)::after {
    top: center;
    left: center;
}

.box:nth-child(6)::after {
    top: center;
    right: calc(var(--dot-size) / -2);
}

.box:nth-child(7)::after {
    bottom: calc(var(--dot-size) / -2);
    left: calc(var(--dot-size) / -2);
}

.box:nth-child(8)::after {
    bottom: calc(var(--dot-size) / -2);
    left: center;
}

.box:nth-child(9)::after {
    bottom: calc(var(--dot-size) / -2);
    right: calc(var(--dot-size) / -2);
}

@keyframes rotateWithOrigin {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

/*Przejścia CSS*/
.przejscia .box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: tomato;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*  opis przejścia   */
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 500ms;
    /*opóźnienie*/
    /*transition: [property] [duration] [timing-function] [delay]  któtki zapis przejścia*/

}


.przejscia .box:hover {
    background-color: teal;
    transform: rotate(180deg);
}


/* podwójna zmiana */


.box-transition-delay {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: tomato;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*  transform 500ms ease-in-out 1000ms
             500ms czas przejścia      1000ms opóźnienie   */
    transition: background-color 500ms linear, transform 500ms ease-in-out 1000ms;
}

.box-transition-delay:hover {
    background-color: teal;
    transform: rotate(180deg);
    transform: scale(4)
}

/*rotate*/
.rotate .scene {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.rotate .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*   transition: transform 0.5s ease-in-out; */
}

.rotate .box.rotate-x {
    /*   transform: rotateX(60deg); */
    animation: rotateX 1500ms infinite alternate ease-in-out 1000ms;
}

.rotate .box.rotate-y {
    /*   transform: rotateY(60deg); */
    animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
}

.rotate .box.rotate-x {
    background-color: tomato;
}

.rotate .box.rotate-y {
    background-color: blue;
}

.rotate .scene+.scene {
    margin-left: 50px;
}

.rotate .container {
    display: flex;
}

@keyframes rotateX {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(60deg);
    }
}

@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(60deg);
    }
}


/*perspective scena */
.perspective p {
    margin-bottom: 20px;
    font-size: 18px;
}

.perspective .scene {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.perspective .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*   transition: transform 0.5s ease-in-out; */
}

.perspective .box.rotate-x {
    /*   transform: perspective(400px) rotateX(45deg); */
    animation: rotateX 1500ms infinite alternate ease-in-out 1000ms;
}

.perspective .box.rotate-y {
    /*   transform: perspective(400px) rotateY(45deg); */
    animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
}

.perspective .box.rotate-x {
    background-color: tomato;
}

.perspective .box.rotate-y {
    background-color: blue;
}

.perspective .scene+.perspective .scene {
    margin-left: 50px;
}

.perspective .container {
    display: flex;
}

@keyframes rotateX {
    0% {
        transform: perspective(400px) rotateX(0deg);
    }

    100% {
        transform: perspective(400px) rotateX(60deg);
    }
}

@keyframes rotateY {
    0% {
        transform: perspective(400px) rotateY(0deg);
    }

    100% {
        transform: perspective(400px) rotateY(60deg);
    }
}