.thumb {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
  }
  
 .thumb img {
    display: block;
    max-width: 100%;
    height: auto;
  }



  .box {
    width: 320px;
    height: 240px;
    background-image: url("https://picsum.photos/id/237/320/240");
    background-size: 320px 240px;
  }
  
  /* 2x screens, retina, 640x480 image */
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .box {
      background-image: url("https://picsum.photos/id/237/640/480");
    }
  }